/*Nav Bar*/

.burger-button {
    display: none;
}

.search-bar {
    border-radius: 10px;
}

.margin-between {
    margin-bottom: 10px;
}

.personal-info p {
    margin: 0;
}

.nav-container {
    padding: 10px;
}

.profile-login {
    max-width: 40px;
}

.profile-container {
    padding: 20px;
}

html,
body,
#app,
#app>div {
    height: 100%
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
    background-color: #14274E !important;
    color: #F1F6F9;
    border-color: #394867;
}

.text-style {
    color: #394867;
    font-size: 12px;
}


/*Feeds*/

.scroll-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #F1F6F9;
    height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
}

.scroll-card p {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.scroll-card .feed-calendar {
    color: grey;
    font-size: 12px;
}

.card-menu {
    height: 300px;
}


/*Mobile*/