img {
  width: 70px;
  height: 70px;
  object-fit: cover; /*this property does the magic*/
  border-radius: 50%;
}

.avatar {
  width: 70px;
  height: 70px;
  background-size: cover; /*this property does the magic*/
  border-radius: 50%;
}
